.form-container {
  max-width: 600px;
  padding: 20px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  max-width: 600px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #ffffff;
  border-radius: 16px;
}

mat-form-field {
  width: 100%;
}
