<div class="form-container">
  <div class="form-header">
    <h2>Nuevo cliente</h2>

    <button mat-icon-button type="button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="clientForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />

      <mat-error *ngIf="clientForm.get('name')?.hasError('required')">
        Nombre requerido
      </mat-error>
      <mat-error *ngIf="clientForm.get('name')?.hasError('minlength')">
        Debe tener al menos 2 caracteres
      </mat-error>

      <mat-error *ngIf="clientForm.get('name')?.hasError('maxlength')">
        No puede superar los 50 caracteres
      </mat-error>

      <mat-error *ngIf="clientForm.get('name')?.hasError('pattern')">
        Solo se permiten letras
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="clientForm.get('lastName')?.hasError('required')">
        Apellido requerido
      </mat-error>
      <mat-error *ngIf="clientForm.get('lastName')?.hasError('minlength')">
        Debe tener al menos 2 caracteres
      </mat-error>

      <mat-error *ngIf="clientForm.get('lastName')?.hasError('maxlength')">
        No puede superar los 50 caracteres
      </mat-error>

      <mat-error *ngIf="clientForm.get('lastName')?.hasError('pattern')">
        Solo se permiten letras
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Edad</mat-label>
      <input
        matInput
        formControlName="age"
        type="number"
        (keydown)="preventInvalidKeys($event)"
      />
      <mat-error *ngIf="clientForm.get('age')?.hasError('required')">
        Edad requerida
      </mat-error>
      <mat-error *ngIf="clientForm.get('age')?.hasError('min')">
        La edad no puede ser negativa
      </mat-error>
      <mat-error *ngIf="clientForm.get('age')?.hasError('max')">
        La edad no puede superar los 120 años
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de nacimiento</mat-label>
      <input matInput placeholder="dd/MM/aaaa" formControlName="birthDate" />
      <mat-error *ngIf="clientForm.get('birthDate')?.hasError('required')">
        La fecha de nacimiento es obligatoria
      </mat-error>

      <mat-error *ngIf="clientForm.get('birthDate')?.hasError('pattern')">
        Ingresá una fecha con formato DD/MM/AAAA
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Guardar cliente
    </button>
  </form>
</div>
